@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos</h1>
    <p>Learn about <a href="https://google.com">Entrar no GOOGLE</a>.</p>
    <p>Meu email: @ViewData["Email"]</p>
    <p>Meu nome é: @ViewData["Nome"]</p>
</div>
